@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

@theme{
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-900: oklch(0.53 0.12 118.34);
  --color-myYellow: #d9dd1d;
  --color-myYellow-100: #f9f9de;
  --color-myYellow-200: #f7f792;
  --color-myYellow-300: #f2f268;
  --color-myYellow-400: #e8e346;
  --color-myYellow-500: #d9dd1d;
  --color-myYellow-600: #bcbc11;
  --color-myYellow-700: #87870b;
  --color-myYellow-800: #444402;
  --color-myYellow-900: #1e1e01;
  --color-myGreen: #022d28;
  --color-myGreen-100: #daf7f3;
  --color-myGreen-200: #9ff4e8;
  --color-myGreen-300: #52e2cd;
  --color-myGreen-400: #31dbbf;
  --color-myGreen-500: #20d3b9;
  --color-myGreen-600: #17ad97;
  --color-myGreen-700: #08564b;
  --color-myGreen-800: #022d28;
  --color-myGreen-900: #011613;
  --color-myWhite: #efe1b0;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-hero: Libertinus Math, 'sans-serif'
}

@import "tailwindcss";